*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}

html{
    /* permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* 
MENU */

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 36px;
    color: #4f1699;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #4f1699;
}

.nav-responsive{
    background-color: #4f1699;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
/* .contenedor-img img{
    margin-top: 50%;
    width: 250px;
    height: 220px;
    
} */

.inicio .contenido-banner{

    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #4f1699;
    display: block;
    width: 80%;
    margin: auto;
    border-radius:100% ;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

}

.inicio .contenido-banner .redes a:hover{
    background-color: #4f1699;
}

/* SOBRE MI */

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto ;
}

.sobremi h2{
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #4f1699;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;

}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #4f1699;
    width: 130px;

}

/* .sobremi .fila .col ul li span{
    background-color: #4f1699;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
} */

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color:#252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #4f1699;
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* SKILLS */

.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto ;
}

.skills h2{
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #4f1699;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
/* medidor en circulo */
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4f1699;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* animacion js */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{
        width:0%;
    }
    100%{width:50%;
    }
}

/* animacion html */
.skills .skill .html{
    width: 0%;
    animation: 2s html forwards;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{width:70%;
    }
}

/* animacion css */
.skills .skill .css{
    width: 0%;
    animation: 2s css forwards;
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{width:60%;
    }
}

/* animacion java */
.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java{
    0%{
        width:0%;
    }
    100%{width:25%;
    }
}

/* animacion wordpress */
.skills .skill .word{
    width: 0%;
    animation: 2s word forwards;
}
@keyframes word{
    0%{
        width:0%;
    }
    100%{width:80%;
    }
}

/* animacion comunicacion */
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes word{
    0%{
        width:0%;
    }
    100%{width:80%;
    }
}
/* animacion trabajo */
.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes word{
    0%{
        width:0%;
    }
    100%{width:70%;
    }
}
/* animacion creatividad */
.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes word{
    0%{
        width:0%;
    }
    100%{width:60%;
    }
}

/* animacion dedicacion */
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes word{
    0%{
        width:0%;
    }
    100%{width:85%;
    }
}

/* portafolio */

.portafolio{
    text-align: center;
    background-color: #252a2e;
    color: #fff;
    font-size: 38px;
}

.cards{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: normal;
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
    
}
.container{
    
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10%;
    gap: 10px;

}

.card{
    height: 350px;
    width: 300px;
    margin: 10px;
    transition: 300ms;
    

}

 .proyecto, .proyecto_2, .proyecto_3, .proyecto_4, .proyecto_5, .proyecto_6 {

    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color:#4f1699;
    transition: 300ms;
    margin-top: 45%;
    
    /* position: absolute; */


} 
/* .proyecto_4, .proyecto_5, .proyecto_6{
    margin-top: 45%;
} */
 /* imgenes */

.imagen_proyecto{
    height: 350px;
    width: 250px;
    background-image: url("../WhatsApp\ Image\ 2024-03-25\ at\ 22.53.08.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    /* transition: 300ms; */
    filter: drop-shadow(5px -4px 10px #000);
}

.imagen_proyecto_2{
    height: 350px;
    width: 250px;
    background-image: url("../WhatsApp\ Image\ 2024-03-25\ at\ 22.53.08.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.imagen_proyecto_3{
    height: 350px;
    width: 250px;
    background-image: url("../WhatsApp\ Image\ 2024-03-25\ at\ 22.53.08.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.imagen_proyecto_4{
    height: 350px;
    width: 250px;
    background-image: url("../WhatsApp\ Image\ 2024-03-25\ at\ 22.53.08.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.imagen_proyecto_5{
    height: 350px;
    width: 250px;
    background-image: url("../WhatsApp\ Image\ 2024-03-25\ at\ 22.53.08.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.imagen_proyecto_6{
    height: 350px;
    width: 250px;
    background-image: url("../WhatsApp\ Image\ 2024-03-25\ at\ 22.53.08.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.detalle {
    height: 200px;
    width: 300px;
    background-color: #131517;
    color: #fff;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms; */
}
.detalle button{
    width: 50%;
    margin-left: 27%;
}


/* hover */

.car :hover .imagen_proyecto{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
    background-size: contain;
    background-repeat: no-repeat;
}
.car :hover .imagen_proyecto_2{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
}


.car :hover .imagen_proyecto_3{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
}
.car :hover .imagen_proyecto_4{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
}
.car :hover .imagen_proyecto_5{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
}
.car :hover .imagen_proyecto_6{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.avif");
}


/* contacto */
.contacto{
    background-image: url("./world-map.jpg");
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;

}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;

}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding:  10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;

}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4f1699;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;

}
.contacto .col img{
    width: 100%;

}

.contacto .col .info{
    position: absolute;
    top: 55%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -10%);
}

.contacto .col .info ul{
    list-style: none;

}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: #4f1699;
    display: inline-block;
    margin-right: 20px;
}

